{% extends 'body.html' %}
{% load i18n %}
{% block body %}
<div class="wrap">
	<!-- col_left -->
    <div class="col_left">
    	{% include 'left.html' %}
    </div>
	<!-- //col_left -->

	<!-- col_right -->
    <div class="col_right">

        <!-- header -->
    	<div class="header">
        	<div>
                <p>{{ user.first_name }} ({{ user.username }}) {% trans "user.logined" %}</p>
                <p><span><a href="javascript:;" style="background: url('resources/img/content/refresh.png') no-repeat 5px 50%;padding: 0px 25px 0px 33px;border: 1px solid #eaeaea;height: 34px; line-height: 34px; display: inline-block" onclick="refreshData()">refresh</a></span></p>
                <ul>
                    <li><a href="#">Your personal info</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- //header -->

        <!-- body -->
        <div class="body">


            {% block title %}
            {% endblock %}


            <!-- content -->
            <div class="content">

                {% block content %}
                {% endblock %}

            </div>
            <!-- //content -->

        </div>
        <!-- //body -->

    </div>
	<!-- //col_right -->

</div>

<script type="text/javascript">
    $('input[type=checkbox], input[type=radio]').customRadioCheck();

function refreshData() {
    $.ajax({
       url: "/reloaddata",
        type: "GET",
        dataType: "json",
        data: {},
        success: function(result) {
            //console.log(result.result);
            if(result.result == "OK") {
                alert("reload OK");
                location.reload(true);
            } else {

            }

        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    });
}
</script>
{% endblock %}