{% extends 'body.html' %}
{% load i18n %}
{% block body %}
<div class="wrap">
	<!-- col_left -->
    <div class="col_left">
    	{% include 'left.html' %}
    </div>
	<!-- //col_left -->

	<!-- col_right -->
    <div class="col_right">

        <!-- header -->
    	<div class="header">
        	<div>
                <p>{{ user.first_name }} ({{ user.username }}) {% trans "user.logined" %}</p>
                <ul>
                    <li><a href="#">Your personal info</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- //header -->

        <!-- body -->
        <div class="body">


            {% block title %}
            {% endblock %}


            <!-- content -->
            <div class="content">

                {% block content %}
                {% endblock %}

            </div>
            <!-- //content -->

        </div>
        <!-- //body -->

    </div>
	<!-- //col_right -->

</div>

<script type="text/javascript">
    $('input[type=checkbox], input[type=radio]').customRadioCheck();
</script>
{% endblock %}