{% extends 'body.html' %}
{% load i18n %}
{% block body %}
<div class="wrap">
	<!-- col_left -->
    <div class="col_left">
    	{% include 'left.html' %}
    </div>
	<!-- //col_left -->

	<!-- col_right -->
    <div class="col_right">

        <!-- header -->
    	<div class="header">
        	<div>
                <p>{{ user.first_name }} ({{ user.username }}) {% trans "user.logined" %}</p>
                <p style="display:none"><span><a href="javascript:;" style="background: url('resources/img/content/refresh.png') no-repeat 5px 50%;padding: 0px 25px 0px 33px;border: 1px solid #eaeaea;height: 34px; line-height: 34px; display: inline-block" onclick="refreshData()">refresh</a></span></p>
                <ul>
                    <li><a href="javascript:;" onclick="open_myinfo()">Your personal info</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
        </div>
        <!-- //header -->
        <!-- lay_pop -->
        <div class="lay_pop your_info">
            <div class="lay_header">
                <h1>Your personal info</h1>
                <a href="#nond" class="btn_close"><img src="../resources/img/content/lay_closed.png" alt="닫기"></a>
            </div>

            <div class="lay_content">
                <form name="form_user_info">
                <table>
                    <colgroup>
                        <col width="110px">
                        <col width="*">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <td><input type="text" name="first_name" value="{{ user.first_name }}"></td>
                    </tr>
                    <tr>
                        <th>ID</th>
                        <td><strong>{{ user.username }}</strong>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
                            <input type="hidden" name="username" value="{{ user.username }}"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Tenant</th>
                        <td><strong>개발그룹</strong></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input type="text" name="email" value="{{ user.email }}"></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td><input type="text" name="contact" value="{{ user.useraddinfo.contact }}"/></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <th>Password <br>Again</th>
                        <td><input type="password" name="passwordcfm"></td>
                    </tr>
                    </tbody>
                </table>
                </form>
            </div>

            <div class="lay_footer">
                <a href="javascript:;" class="btn_common01" onclick="modify_myinfo()">수정하기</a>
            </div>
        </div>
        <!-- //lay_pop -->

        <!-- body -->
        <div class="body">


            {% block title %}
            {% endblock %}


            <!-- content -->
            <div class="content">

                {% block content %}
                {% endblock %}

            </div>
            <!-- //content -->

        </div>
        <!-- //body -->

    </div>
	<!-- //col_right -->

</div>

<script type="text/javascript">
    $('input[type=checkbox], input[type=radio]').customRadioCheck();

function refreshData() {
    $.ajax({
       url: "/reloaddata",
        type: "GET",
        dataType: "json",
        data: {},
        success: function(result) {
            //console.log(result.result);
            if(result.result == "OK") {
                alert("reload OK");
                location.reload(true);
            } else {

            }

        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    });
}
</script>
{% endblock %}