{% extends 'base.html' %}
{% load myfilter %}
{% load i18n %}

            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.catalog" %}</h3>
                    <p>Home > Resource > <strong>Catalog List</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <h4>Catalogo List</h4>

                    <ul class="catalogue_list">
                        {% for catalog in list %}
                    	<li>
                        	<div class="box">
                                <h5><span class="box blue">{{ catalog.catalog_type }}</span> {{ catalog.catalog_name }}</h5>
                                <div class="system">
                                	<p class="thomb"><img src="http://{{ ucsd_server }}{{ catalog.icon }}" alt="" height="90" width="170"></p>
                                    <table>
                                    	<colgroup>
                                        	<col width="80px">
                                            <col width="*">
                                        </colgroup>
                                        <tbody>
                                       	    <tr>
                                            	<th valign="top">CPU</th>
                                                <td>{{ catalog.catalog_description | desc:"CPU"}}</td>
                                            </tr>
                                            <tr>
                                            	<th valign="top">Memory</th>
                                                <td>{{ catalog.catalog_description | desc:"MEMORY"}}</td>
                                            </tr>
                                            <tr>
                                            	<th valign="top">DISK</th>
                                                <td>{{ catalog.catalog_description | desc:"DISK"}}</td>
                                            </tr>
                                            <tr>
                                            	<th valign="top">Networks</th>
                                                <td>{{ catalog.catalog_description | desc:"NIC"}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn">
                                    <a href="javaScript:setid({{ catalog.catalog_id }});layer_popup('.catalogue_option');" class="btn_common01">{% trans "menu.choice" %}</a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>

                        <a href="javascript:go_page(1);" class="first">{% trans "menu.first" %}</a>
                        {% if list.has_previous %}
                        <a href="javascript:go_page({{ list.previous_page_number }})" class="prev">{% trans "menu.previous" %}</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="javascript:go_page({{ p }})">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="javascript:go_page({{ list.next_page_number }})" class="next">{% trans "menu.next" %}</a>
                        {% endif %}
                        <a href="javascript:go_page({{ list.paginator.num_pages }})" class="last">{% trans "menu.last" %}</a>
                    </div>
                </div>
                <!-- //inner -->


<!-- lay_pop -->
    <div class="lay_pop catalogue_option">
    <form name="option_pop" >
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}"/>
        <input type="hidden" name="catalog_id" value=""/>
        <div class="lay_header">
            <h1>{% trans "menu.catalog.option" %}</h1>
            <a href="#nond" class="btn_close"><img src="../resources/img/content/lay_closed.png" alt="{% trans "menu.close" %}"></a>
        </div>

        <div class="lay_content">
            <table class="tbl_type01">
                <colgroup>
                    <col width="110px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>{% trans "menu.vmname" %} <span class="point">*</span></th>
                        <td><input type="text" name="vmname"></td>
                    </tr>
                    <tr>
                        <th>Group <span class="point">*</span></th>
                        <td>
                            <select name="group">
                                {% for group in group_list %}
                            <option value="{{ group }}">{{ group }}</option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>VDC <span class="point">*</span></th>
                        <td>
                            <select name="vdc">
                                {% for vdc in vdc_list %}
                            <option value="{{ vdc.vdc }}">{{ vdc.vdc }}</option>
                                {% endfor %}

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "menu.number" %} <span class="point">*</span></th>
                        <td><select name="vmcount"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select></td>
                    </tr>

                    <tr>
                        <th>vCPU <span class="point">*</span></th>
                        <td><input type="text" name="vcpus" value="1"></td>
                    </tr>
                    <tr>
                        <th>RAM(GB)<span class="point">*</span></th>
                        <td><input type="text" name="vram" value="1024"></td>
                    </tr>

                    <tr>
                        <th>comment </th>
                        <td><input type="text" name="comment"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="lay_footer">
            <p><span class="point">*</span> {% trans "menu.required" %}</p>
            <a href="javascript:order_catalog();" class="btn_common01">{% trans "menu.catalog.execute" %}</a>
        </div>
    </form>
    </div>
	<!-- //lay_pop -->


<form name="search_form" method="get" action="">
<input type="hidden" name="page" value="1" />
</form>
<script type="text/javascript">
function go_page(page) {
    $("input[name='page']").val(page);
    $("form[name='search_form']").submit();
}

function setid(catalog_id) {
    $("input[name='catalog_id']").val(catalog_id);
}

function order_catalog() {
    var params = $("form[name='option_pop']").serialize()
    $.ajax({
       url : "/catalog_order",
        datatype: "json",
        data: params
    }).done(function(msg){
        if(msg.result) {
            //alert(msg.result);
            alert("sr_num: " + msg.sr_num);
            $.ajax({
                url : "/update_order",
                datatype: "json"
            }).done( function(msg) {
                layer_popup_close(".lay_pop");
            }).fail( function(err) {
                alert(err);
                layer_popup_close(".lay_pop");
            })
        }
    }).fail(function(err){
        //alert(err);
    });
}
</script>
            {% endblock %}
            <!-- //content -->
        
