{% extends 'base.html' %}

{% block content %}
                <!-- chart_list -->
                <div class="chart_list">

                    <!-- sel_left -->
                    <ul class="sel_left">
                        <li>
                            <div class="head">
                                <h3>TotalVM Info</h3>
                                <a href="#"><span>More</span></a>
                            </div>

                            <div class="chart_area type01">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>활성VM</p>
                                        <p><strong>40</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>비활성VM</p>
                                        <p><strong>60</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>TotalCPU Info</h3>
                            </div>

                            <div class="chart_area type02">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된CPU</p>
                                        <p><strong>40</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴CPU</p>
                                        <p><strong>60</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>TotalMEM Info</h3>
                            </div>

                            <div class="chart_area type03">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된MEM</p>
                                        <p><strong>40</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴MEM</p>
                                        <p><strong>60</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>Total Storage Info</h3>
                                <a href="#"><span>More</span></a>
                            </div>

                            <div class="chart_area type04">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된스토리지</p>
                                        <p><strong>40</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴스토리지</p>
                                        <p><strong>60</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- //sel_left -->

                    <!-- sel_right -->
                    <div class="sel_right">
                        <div class="head">
                            <h3>Total Virtual switch Info</h3>
                            <a href="#"><span>More</span></a>
                        </div>

                        <div class="info">
                            <h4><span>가상스위치</span></h4>
                            <p><strong>10</strong> <span>개</span></p>
                            <p>스위치당포트그룹개수</p>
                        </div>

                        <div class="chart_area">
                            <p>Switch</p>
                            <div class="chart">
                                <!-- 그래프영역 -->
                            </div>
                            <p class="tr">Port group</p>
                        </div>
                    </div>
                    <!-- //sel_right -->

                </div>
                <!-- //chart_list -->

                <!-- inner -->
                <div class="inner">
                    <h3>Intra Inventory</h3>
                    <table>
                        <colgroup>
                            <col width="5%">
                            <col width="14%">
                            <col width="14%">
                            <col width="10%">
                            <col width="14%">
                            <col width="14%">
                            <col width="14%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Model</th>
                                <th>HW Type</th>
                                <th>Name</th>
                                <th>MGMT IP</th>
                                <th>FIRMWARE Ver.</th>
                                <th>Last Modified</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //inner -->

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h3>Faults Information</h3>

                        <div class="search">
                            <select>
                                <option>Name</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>

                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="20%">
                            <col width="15%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Severity</th>
                                <th>TargetInfra</th>
                                <th>FaultType</th>
                                <th>최근발생시간</th>
                                <th>발생회수</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="box gray">Offline</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box blue">Online </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box orange">Online with events</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box gray">Offline</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box blue">Online </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box orange">Online with events</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="paginate">
                        <p class="total">Total <strong>350</strong></p>

                        <a href="#none" class="first">처음</a>
                        <a href="#none" class="prev">이전</a>
                            <span>
                                <a href="#none">1</a>
                                <a href="#none">2</a>
                                <a href="#none">3</a>
                                <strong>4</strong>
                                <a href="#none">5</a>
                                <a href="#none">6</a>
                                <a href="#none">7</a>
                                <a href="#none">8</a>
                                <a href="#none">9</a>
                                <a href="#none">10</a>
                            </span>
                        <a href="#none" class="next">다음</a>
                        <a href="#none" class="last">마지막</a>
                    </div>
                </div>
                <!-- //inner -->
{% endblock content %}
