{% extends 'base.html' %}

{% block content %}
<script type="text/javascript" src="http://d3js.org/d3.v3.js" ></script>
    <script type="text/javascript">
     function Arc(placeholderName, configuration) {
         this.placeholderName = placeholderName;

         var self = this; // for internal d3 functions

         this.configure = function(configuration)
         {
             this.config = configuration;

             this.config.cx = 120;
             this.config.cy = 120;
             this.config.raduis = 100;

             this.config.min = undefined != configuration.min ? configuration.min : 0;
             this.config.max = undefined != configuration.max ? configuration.max : 100;
             this.config.range = this.config.max - this.config.min;

         };

         this.valueToDegrees = function (value) {
             // thanks @closealert
             //return value / this.config.range * 270 - 45;
//             return value / this.config.range * 270 - (this.config.min / this.config.range * 270 + 45);
              return value / this.config.range * 180;
         };

         this.valueToRadians = function (value) {
             return this.valueToDegrees(value) * Math.PI / 180;
         };

         this.valueToPoint = function (value, factor) {
             return {
                 x: this.config.cx - this.config.raduis *  Math.cos(this.valueToRadians(value)),
                 y: this.config.cy - this.config.raduis *  Math.sin(this.valueToRadians(value))
             };
         };

         this.configure(configuration);
     }

     function drowArc(holder, color, val) {
         var config =
         {
             size: 230,
             label: "label",
//             min: undefined != min ? min : 0,
//             max: undefined != max ? max : 100,
             min : 0,
             max : 100,
             minorTicks: 5
         };
         var arc01 = new Arc("test", config);
         var tp = arc01.valueToPoint(val,0);
         /*
         var path = d3.select(holder)
                 .append("path")
                 .attr("d", "M20,120  A100 100 0 0 1 "+ tp.x + " " + tp.y)     // M10,120  A100 100 0 0 1 60 60
                 .attr("fill", "none")
                 .style("stroke", color)
                 .style("stroke-width", "10")
         ;
         */
         tp = arc01.valueToPoint(0,0);
         tp2 = arc01.valueToPoint(val,0);
         var path = d3.select(holder)
                 .append("path")
                 .attr("d", "M20,120  A100 100 0 0 1 "+ tp.x + " " + tp.y)     // M10,120  A100 100 0 0 1 60 60
                 .attr("fill", "none")
                 .style("stroke", color)
                 .style("stroke-width", "10")
                         .transition().duration(1500)
                         .attr("d", "M20,120  A100 100 0 0 1 "+ tp2.x + " " + tp2.y)
         ;


     }
     function init() {
         var chart1 = {{ chart1|safe }};
         drowArc("#totalvm", "#dcd8d8", 100);
         drowArc("#totalvm", "#33d033", chart1[0] );
         drowArc("#totalcpu", "#dcd8d8", 100);
         drowArc("#totalcpu", "#33d033", chart1[1]);
         drowArc("#totalmem", "#dcd8d8", 100);
         drowArc("#totalmem", "#33d033", chart1[2]);
         drowArc("#totalstg", "#dcd8d8", 100);
         drowArc("#totalstg", "#33d033", chart1[3]);
     }
    </script>

<style>

.chart rect {
  fill: steelblue;
}

.chart text {
  fill: white;
  font: 10px sans-serif;
  text-anchor: middle;
}

</style>
    <script type="text/javascript">
$(document).ready(function() {
    var width = 360 -30,
            height = 370-20;

    var y = d3.scale.linear().range([height, 0]);

    var chart = d3.select(".sel_right .chart")
            .attr("width", width)
            .attr("height", height);

    //data2 = [10, 20, 30, 40];
    data2 = {{ chart4|safe }};

    y.domain([0, d3.max(data2, function (d) {
        return d.pgcount;
    })]);

    var barWidth = width / data2.length;

    var bar = chart.selectAll("g")
            .data(data2)
            .enter().append("g")
            .attr("transform", function (d, i) {
                return "translate(" + i * barWidth + ",0)";
            });

    bar.append("rect")
            .attr("y", function (d) {
                return y(d.pgcount)+20;
            })
            .attr("height", function (d) {
                return height - y(d.pgcount) -20;
            })
            .attr("width", barWidth - 1);

    bar.append("text")
      .attr("x", barWidth / 2)
      .attr("y", function(d) { return y(d.pgcount); })
      .attr("dy", ".75em")
            .style("fill", "black")
      .text(function(d) { return d.pgcount; });

    bar.append("text")
            .attr("x", barWidth / 2 -50)
            .attr("y", function (d) {
                return y(d.pgcount) - 3;
            })
            .attr("dy", ".75em")
            .text(function (d) {
                return d.name;
            }).attr("transform", function (d, i) {
        return "rotate(-90 " + barWidth / 2 + " " + (3+ y(d.pgcount))+ ")"
    } )
    ;
});

function type(d) {
  d.value = +d.value; // coerce to number
  return d;
}
</script>
                <!-- chart_list -->
                <div class="chart_list">

                    <!-- sel_left -->
                    <ul class="sel_left">
                        <li>
                            <div class="head">
                                <h3>TotalVM Info</h3>
                                <a href="#"><span>More</span></a>
                            </div>

                            <div class="chart_area type01">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                    <svg width="230" height="120" id="totalvm" />
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>활성VM</p>
                                        <p><strong>{{ chart1.0 }}</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>비활성VM</p>
                                        <p><strong>{{ chart1d.0 }}</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>TotalCPU Info</h3>
                            </div>

                            <div class="chart_area type02">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                    <svg width="230" height="120" id="totalcpu" />
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된CPU</p>
                                        <p><strong>{{ chart1.1 }}</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴CPU</p>
                                        <p><strong>{{ chart1d.1 }}</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>TotalMEM Info</h3>
                            </div>

                            <div class="chart_area type03">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                    <svg width="230" height="120" id="totalmem" />
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된MEM</p>
                                        <p><strong>{{ chart1.2 }}</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴MEM</p>
                                        <p><strong>{{ chart1d.2 }}</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li>
                            <div class="head">
                                <h3>Total Storage Info</h3>
                                <a href="#"><span>More</span></a>
                            </div>

                            <div class="chart_area type04">
                                <div class="chart">
                                    <!-- 그래프영역 -->
                                    <svg width="230" height="120" id="totalstg" />
                                </div>
                                <div class="clear">
                                    <div class="left">
                                        <p>할당된스토리지</p>
                                        <p><strong>{{ chart1.3 }}</strong><span>%</span></p>
                                    </div>

                                    <div class="right">
                                        <p>유휴스토리지</p>
                                        <p><strong>{{ chart1d.3 }}</strong><span>%</span></p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- //sel_left -->

                    <!-- sel_right -->
                    <div class="sel_right">
                        <div class="head">
                            <h3>Total Virtual switch Info</h3>
                            <a href="#"><span>More</span></a>
                        </div>

                        <div class="info">
                            <h4><span>가상스위치</span></h4>
                            <p><strong>{{ avgport }}</strong> <span>개</span></p>
                            <p>스위치당포트그룹개수</p>
                        </div>

                        <div class="chart_area">
                            <p>Port group</p>
                            <svg class="chart">
                                <!-- 그래프영역 -->
                            </svg>
                            <p class="tr">Switch</p>
                        </div>
                    </div>
                    <!-- //sel_right -->

                </div>
                <!-- //chart_list -->

                <!-- inner -->
                <div class="inner">
                    <h3>Intra Inventory</h3>
                    <table>
                        <colgroup>
                            <col width="5%">
                            <col width="14%">
                            <col width="14%">
                            <col width="10%">
                            <col width="14%">
                            <col width="14%">
                            <col width="14%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Model</th>
                                <th>HW Type</th>
                                <th>Name</th>
                                <th>MGMT IP</th>
                                <th>FIRMWARE Ver.</th>
                                <th>Last Modified</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for inven in inventorylist %}
                            <tr onclick="faults_list('{{ inven.name }}')">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ inven.model }}</td>
                                <td>{{ inven.hwtype }}</td>
                                <td>{{ inven.name }}</td>
                                <td>{{ inven.ipAddress }}</td>
                                <td>{{ inven.firmwareVersion }}</td>
                                <td>{{ inven.lastModified }}</td>
                                <td>{{ inven.desc }}</td>
                            </tr>
                            {% endfor %}
                            <!--
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                </div>
                <!-- //inner -->

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h3>Faults Information</h3>

                        <div class="search">
                            <select>
                                <option value="description">description</option>
                            </select>
                            <input type="text">
                        </div>
                    </div>

                    <table id="fault_table">
                        <colgroup>
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="20%">
                            <col width="15%">
                            <col width="*">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Severity</th>
                                <th>TargetInfra</th>
                                <th>FaultType</th>
                                <th>최근발생시간</th>
                                <th>발생회수</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <!--
                    <div class="paginate">
                        <p class="total">Total <strong>350</strong></p>

                        <a href="#none" class="first">처음</a>
                        <a href="#none" class="prev">이전</a>
                            <span>
                                <a href="#none">1</a>
                                <a href="#none">2</a>
                                <a href="#none">3</a>
                                <strong>4</strong>
                                <a href="#none">5</a>
                                <a href="#none">6</a>
                                <a href="#none">7</a>
                                <a href="#none">8</a>
                                <a href="#none">9</a>
                                <a href="#none">10</a>
                            </span>
                        <a href="#none" class="next">다음</a>
                        <a href="#none" class="last">마지막</a>
                    </div>
                    -->
                </div>
                <!-- //inner -->
<script type="text/javascript">
$(document).ready(function(){
   init();
});

function faults_list(target) {
    var targetarr = target.split("/");
    var skey = $(".search select option:selected").val();
    var stxt = $(".search input[type='text']").val();
    $.ajax({
        url : "/dashboard/faults",
        datatype: "json",
        data: {
//                csrfmiddlewaretoken:'{{ csrf_token }}',
            "srch_key" : skey,
            "srch_txt" : stxt,
            "targetinfra" : targetarr[0]
        }
    }).done(function(msg){
        console.log(msg);
        if(msg.list) {
            $("#fault_table tbody").empty();
            for(var i=0; i<msg.list.length; i++) {
                var tr = "<tr>";
                tr += "<td><span class='box "+msg.list[i].severity+"'>"+msg.list[i].severity+"</span></td>";
                tr += "<td>"+msg.list[i].target+"</td>";
                tr += "<td>"+msg.list[i].faultType+"</td>";
                tr += "<td>"+msg.list[i].created+"</td>";
                tr += "<td>"+msg.list[i].occur+"</td>";
                tr += "<td>"+msg.list[i].desc+"</td>";
                tr += "</tr>";
                $("#fault_table tbody").append(tr);
            }
        }
    }).fail(function(err){
        alert(err);
    });
}
</script>
{% endblock content %}
