{{ request.GET.mid }}
{% if request.GET.mid == "01" %}"TEST"{% endif %}
{% block left %}
    	<h1><a href="#"><img src="../resources/img/content/logo.png" alt="CISCO Cloud Management Portal"></a></h1>
        <h2><a href="/" class="on">Dashboard</a></h2>

        <!-- nav -->
        <div class="nav">
        	<p>Servers</p>
            <ul>
            	<li class="ico02"><a href="/hosts">Host List</a></li>
            	<li class="ico03"><a href="/vms">VM List</a></li>
            </ul>

        	<p>Network</p>
            <ul>
            	<li class="ico04"><a href="/vnets">Virtual Network List</a></li>
            </ul>

        	<p>Storage</p>
            <ul>
            	<li class="ico05"><a href="/volumes">Volume List</a></li>
            	<li class="ico06"><a href="/disks">VM Disk List</a></li>
            </ul>

            <ul>
            	<li class="ico07"><a href="#">Monitoring</a></li>
            	<li class="ico08"><a href="/users">사용자관리</a></li>
            </ul>
        </div>
        <!-- //nav -->
{% endblock %}