{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}

            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.myrequests" %}</h3>
                    <p>Home > Resource > <strong>MyRequests</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h4>My Requests</h4>
                    </div>
                        <div class="search">
                            <form name="search_form" method="get" action="">
                            <input type="hidden" name="page" value="1" />
                            </form>
                        </div>
                    <table>
                      <colgroup>
                          <col width="5%">
                          <col width="20%">
                          <col width="15%">
                          <col width="10%">
                          <col width="*%">
                          <col width="10%">
                          <col width="10%">
                      </colgroup>
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Request Time</th>
                              <th>Request Type</th>
                              <th>Requester</th>
                              <th>Catalog/Workflow Name</th>
                              <th>Status</th>
                              <th>Rollback Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for req in list %}
                          <tr>
                            <td style="text-align: center;"> {{ req.Service_Request_Id }} </td>
                            <td>{{ req.Request_Time }}</td>
                            <td>{{ req.Request_Type }}</td>
                            <td>{{ req.Initiating_User }}</td>
                            <td>{{ req.Catalog_Workflow_Name }}</td>
                            <td><span class="box {{ req.Request_Status | remove_space }}">{{ req.Request_Status }}</td>
                            <td>{{ req.Rollback_Type }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>
                        
                        <a href="javascript:go_page(1);" class="first">처음</a>
                        {% if list.has_previous %}
                        <a href="javascript:go_page({{ list.previous_page_number }})" class="prev">이전</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="javascript:go_page({{ p }})">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="javascript:go_page({{ list.next_page_number }})" class="next">다음</a>
                        {% endif %}
                        <a href="javascript:go_page({{ list.paginator.num_pages }})" class="last">마지막</a>
                    </div>
                </div>
                <!-- //inner -->

<script type="text/javascript">
/*
    $(document).ready(function(){
       var list = {};
        $.ajax({
           url : "/vms",
            datatype: "json",
            data: {
                csrfmiddlewaretoken:'{{ csrf_token }}'
            }
        }).done(function(msg){
            if(msg.length>0) {
                msg.forEach(function(v,i){
                    $("body").append("<div>"+v.Name+"</div>");
                })
            }

        }).fail(function(err){
            alert(err);
        });
    });
    */

function go_page(page) {
    $("input[name='page']").val(page);
    $("form[name='search_form']").submit();
}


</script>

            {% endblock %}
            <!-- //content -->
        
