{% extends 'base.html' %}
{% load i18n %}

            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.userlist" %}</h3>
                    <p>Home > Server > <strong>User list</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h4>User list</h4>
                        
                        <div class="search">
                            <form name="search_form" method="get" action="">
                            <select name="srch_key">
                                <option value="username" {% if search.srch_key == 'username' %} selected {% endif %}>User Name</option>
                                <option value="firstname" {% if search.srch_key == 'firstname' %} selected {% endif %}>First Name</option>
                                <option value="email" {% if search.srch_key == 'email' %} selected {% endif %}>email</option>
                            </select>
                            <input type="text" id="srch_txt" name="srch_txt" value="{{ search.srch_txt }}"/>
                            <input type="hidden" name="page" value="1" />
                            </form>
                        </div>
                    </div>
                    <table>
                        <colgroup>
                            <col width="18%">
                            <col width="18%">
                            <col width="*">
                            <col width="18%">
                            <col width="18%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>{% trans "userlist.th.name" %}</th>
                                <th>{% trans "userlist.th.userid" %}</th>
                                <th>{% trans "userlist.th.email" %}</th>
                                <th>{% trans "userlist.th.contact" %}</th>
                                <th>{% trans "userlist.th.tenant" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in list %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.useraddinfo.contact }}</td>
                                <td>{{ user.useraddinfo.tenant.group_name }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>
                        
                        <a href="?page=1" class="first">처음</a>
                        {% if list.has_previous %}
                        <a href="?page={{ list.previous_page_number }}" class="prev">이전</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="?page={{ p }}">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="?page={{ list.next_page_number }}" class="next">다음</a>
                        {% endif %}
                        <a href="?page={{ list.paginator.num_pages }}" class="last">마지막</a>
                    </div>
                
                </div>
                <!-- //inner -->

                <div class="btn_area">
                    <p class="right">
                    	<a href="javaScript:layer_popup('#add_group_lay');" class="btn_common01">{% trans "userlist.bt.add_group" %}</a>
                    	<a href="javaScript:layer_popup('#add_user_lay');" class="btn_common01">{% trans "userlist.bt.add_user" %}</a>
                    </p>
                </div>
                



	<!-- lay_pop -->
    <div class="lay_pop Profile" id="add_user_lay">
        <div class="lay_header">
            <h1>{% trans "userlist.bt.add_user" %}</h1>
            <a href="#nond" class="btn_close"><img src="../resources/img/content/lay_closed.png" alt="닫기"></a>
        </div>
        <form name="useraddform" id="useraddform" method="post">
            {% csrf_token %}
        <div class="lay_content">
            <table>
                <colgroup>
                    <col width="110px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>{% trans "userlist.th.userid" %}</th>
                        <td><input type="text" name="username" /> <a href="javascript:;" class="btn_check" onclick="idcheck()">Check</a></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.name" %}</th>
                        <td><input type="text" name="first_name" /></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.email" %}</th>
                        <td><input type="text" name="email" /></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.contact" %}</th>
                        <td><input type="text" name="contact" /></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.type" %}</th>
                        <td>
                            <none><label for="per1"> <input type="radio" id="per1" name="is_staff" value="0" /> {% trans "userlist.th.type0" %} </label></none>
                            <none><label for="per2"> <input type="radio" id="per2" name="is_staff" value="1" /> {% trans "userlist.th.type1" %} </label></none>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.tenant" %}</th>
                        <td>
                            <select name="tenant" style="width: 200px;">
                                {% for tenant in tenantlist %}
                                <option value="{{ tenant.id }}">{{ tenant.group_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.password" %}</th>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.passwordcfm" %}</th>
                        <td><input type="password" name="passwordcfm" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
        <div class="lay_footer">
            <a href="javascript:;" onclick="addUser();" class="btn_common01">{% trans "userlist.bt.regist" %}</a>
        </div>
    </div>

    <div class="lay_pop Profile" id="add_group_lay">
        <div class="lay_header">
            <h1>{% trans "userlist.bt.add_group" %}</h1>
            <a href="#nond" class="btn_close"><img src="../resources/img/content/lay_closed.png" alt="닫기"></a>
        </div>
        <form name="groupaddform" id="groupaddform" method="post">
            {% csrf_token %}
        <div class="lay_content">
            <table>
                <colgroup>
                    <col width="110px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>{% trans "userlist.th.tenant" %}</th>
                        <td><input type="text" name="group_name" /></td>
                    </tr>
                    <tr>
                        <th>{% trans "userlist.th.email" %}</th>
                        <td><input type="text" name="email" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
        <div class="lay_footer">
            <a href="javascript:;" onclick="addGroup();" class="btn_common01">{% trans "userlist.bt.regist" %}</a>
        </div>
    </div>
	<!-- //lay_pop -->

<script type="text/javascript">
var id_check = false;
var id_check_id = "";

function addUser() {

    if(!id_check) {
        alert("{% trans "msg.idchecked.require" %}");
        return false;
    }

    $.ajax({
       url: "/users",
        type: "POST",
        dataType: "json",
        data: $("#useraddform").serialize(),
        success: function(rtn) {
           if(rtn.result == "OK") {
               location.reload(true);
           } else {
               alert("{% trans "msg.adduser.add.fail" %}");
           }

           //console.log(result);
        },
        error: function(xhr, resp, text) {
           //console.log(xhr, resp, text);
        }
    });
}


function idcheck() {
    var cid = $("form[name='useraddform'] input[name='username']").val().trim();
    if(cid.length==0) return false;
    $.ajax({
       url: "/users/idcheck",
        type: "GET",
        dataType: "json",
        data: {"username": cid},
        success: function(result) {
            //console.log(result.result);
            if(result.result == "OK") {
                id_check = true;
                id_check_id = cid;
                $(".btn_check").hide();
                $("input[name='username']").attr("readonly", true);
            } else {
                alert(cid + "{% trans "msg.idchecked.exist" %}");
            }

        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    });
}


function addGroup() {

    $.ajax({
       url: "/users/groups",
        type: "POST",
        dataType: "json",
        data: $("#groupaddform").serialize(),
        success: function(rtn) {
           if(rtn.result == "OK") {
               location.reload(true);
           } else {
               alert("{% trans "msg.adduser.add.fail" %}");
           }

           //console.log(result);
        },
        error: function(xhr, resp, text) {
           //console.log(xhr, resp, text);
        }
    });
}
</script>

            {% endblock %}