{% extends 'base.html' %}
{% load i18n %}

            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.userlist" %}</h3>
                    <p>Home > Server > <strong>User list</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h4>User list</h4>
                        
                        <div class="search">
                            <form name="search_form" method="get" action="">
                            <select name="srch_key">
                                <option value="username" {% if search.srch_key == 'username' %} selected {% endif %}>User Name</option>
                                <option value="firstname" {% if search.srch_key == 'firstname' %} selected {% endif %}>First Name</option>
                                <option value="email" {% if search.srch_key == 'email' %} selected {% endif %}>email</option>
                            </select>
                            <input type="text" id="srch_txt" name="srch_txt" value="{{ search.srch_txt }}"/>
                            <input type="hidden" name="page" value="1" />
                            </form>
                        </div>
                    </div>
                    <table>
                        <colgroup>
                            <col width="18%">
                            <col width="18%">
                            <col width="*">
                            <col width="18%">
                            <col width="18%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>User Name</th>
                                <th>이메일</th>
                                <th>연락처</th>
                                <th>Tenant</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in list %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.useraddinfo.contact }}</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>
                        
                        <a href="?page=1" class="first">처음</a>
                        {% if list.has_previous %}
                        <a href="?page={{ list.previous_page_number }}" class="prev">이전</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="?page={{ p }}">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="?page={{ list.next_page_number }}" class="next">다음</a>
                        {% endif %}
                        <a href="?page={{ list.paginator.num_pages }}" class="last">마지막</a>
                    </div>
                
                </div>
                <!-- //inner -->

                <div class="btn_area">
                    <p class="right">
                    	<a href="javaScript:layer_popup('.Profile');" class="btn_common01">사용자 등록</a>
                    </p>
                </div>
                



	<!-- lay_pop -->
    <div class="lay_pop Profile">
        <div class="lay_header">
            <h1>사용자 등록</h1>
            <a href="#nond" class="btn_close"><img src="../resources/img/content/lay_closed.png" alt="닫기"></a>
        </div>
        <form name="useraddform" id="useraddform" method="post">
            {% csrf_token %}
        <div class="lay_content">
            <table>
                <colgroup>
                    <col width="110px">
                    <col width="*">
                </colgroup>
                <tbody>
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" name="username" /> <a href="javascript:;" class="btn_check" onclick="idcheck()">Check</a></td>
                    </tr>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" name="first_name" /></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input type="text" name="email" /></td>
                    </tr>
                    <tr>
                        <th>연락처</th>
                        <td><input type="text" name="contact" /></td>
                    </tr>
                    <tr>
                        <th>권한</th>
                        <td>
                            <label for="per1"> <input type="radio" id="per1" name="is_staff" value="0" /> 사용자 </label>
                            <label for="per2"> <input type="radio" id="per2" name="is_staff" value="1" /> 관리자 </label></td>
                    </tr>
                    <tr>
                        <th>Tenant</th>
                        <td><select><option>개발그룹</option></select></td>
                    </tr>
                    <tr class="none_tr">
                        <th>Name</th>
                        <td><input type="text"></td>
                    </tr>
                    <tr class="none_tr">
                        <th>vDC Name</th>
                        <td><input type="text"> <a href="#" class="btn_check">Check</a></td>
                    </tr>
                    <tr>
                        <th>비밀번호</th>
                        <td><input type="password" name="password" /></td>
                    </tr>
                    <tr>
                        <th>비밀번호 확인</th>
                        <td><input type="password" name="passwordcfm" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        </form>
        <div class="lay_footer">
            <a href="javascript:;" onclick="addUser();" class="btn_common01">등록하기</a>
        </div>
    </div>
	<!-- //lay_pop -->

<script type="text/javascript">
var id_check = false;
var id_check_id = "";

function addUser() {

    if(!id_check) {
        alert("{% trans "msg.idchecked.require" %}");
        return false;
    }

    $.ajax({
       url: "/users",
        type: "POST",
        dataType: "json",
        data: $("#useraddform").serialize(),
        success: function(result) {
           location.reload(true);
           //console.log(result);
        },
        error: function(xhr, resp, text) {
           //console.log(xhr, resp, text);
        }
    });
}


function idcheck() {
    var cid = $("form[name='useraddform'] input[name='username']").val().trim();
    if(cid.length==0) return false;
    $.ajax({
       url: "/users/idcheck",
        type: "GET",
        dataType: "json",
        data: {"username": cid},
        success: function(result) {
            //console.log(result.result);
            if(result.result == "OK") {
                id_check = true;
                id_check_id = cid;
                $(".btn_check").hide();
                $("input[name='username']").attr("readonly", true);
            } else {
                alert(cid + "{% trans "msg.idchecked.exist" %}");
            }

        },
        error: function(xhr, resp, text) {
            console.log(xhr, resp, text);
        }
    });
}
</script>

            {% endblock %}