{% extends 'base.html' %}
{% load i18n %}


            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.disklist" %}</h3>
                    <p>Home > Server > <strong>VM Disk List</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <h4>VM Disk List</h4>
                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="10%">
                            <col width="*">
                            <col width="15%">
                            <col width="15%">
                            <col width="*">
                            <col width="23%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>MGMTIP</th>
                                <th>Size</th>
                                <th>사용량</th>
                                <th>CreateDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disk in list %}
                            <tr>
                                <td><span></span></td>
                                <td>-</td>
                                <td>{{ disk.vm_name }} {{ disk.disk_name }}</td>
                                <td>-</td>
                                <td>{{ disk.provision_size_gb }}</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            {% endfor %}
                            <!--
                            <tr>
                                <td><span class="box blue">Online </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box orange">Online with events</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            -->
                        </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>

                        <a href="javascript:go_page(1);" class="first">처음</a>
                        {% if list.has_previous %}
                        <a href="javascript:go_page({{ list.previous_page_number }})" class="prev">이전</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="javascript:go_page({{ p }})">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="javascript:go_page({{ list.next_page_number }})" class="next">다음</a>
                        {% endif %}
                        <a href="javascript:go_page({{ list.paginator.num_pages }})" class="last">마지막</a>
                    </div>
                
                </div>
                <!-- //inner -->

<form name="search_form" method="get" action="">
<input type="hidden" name="page" value="1" />
</form>
<script type="text/javascript">
function go_page(page) {
    $("input[name='page']").val(page);
    $("form[name='search_form']").submit();
}
</script>
            {% endblock %}
