{% extends 'base.html' %}
{% load i18n %}


            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.disklist" %}</h3>
                    <p>Home > Server > <strong>VM Disk List</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <h4>VM Disk List</h4>
                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="10%">
                            <col width="*">
                            <col width="15%">
                            <col width="15%">
                            <col width="*">
                            <col width="23%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Type</th>
                                <th>Name</th>
                                <th>MGMTIP</th>
                                <th>Size</th>
                                <th>사용량</th>
                                <th>CreateDate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="box gray">Offline </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box blue">Online </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box orange">Online with events</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>350</strong></p>
                        
                        <a href="#none" class="first">처음</a>
                        <a href="#none" class="prev">이전</a>
                            <span>
                                <a href="#none">1</a>
                                <a href="#none">2</a>
                                <a href="#none">3</a>
                                <strong>4</strong>
                                <a href="#none">5</a>
                                <a href="#none">6</a>
                                <a href="#none">7</a>
                                <a href="#none">8</a>
                                <a href="#none">9</a>
                                <a href="#none">10</a>
                            </span>
                        <a href="#none" class="next">다음</a>
                        <a href="#none" class="last">마지막</a>
                    </div>
                
                </div>
                <!-- //inner -->
                
            {% endblock %}
