{% extends 'base.html' %}
{% load i18n %}
{% load myfilter %}

            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "menu.vmlist" %}</h3>
                    <p>Home > Resource > <strong>VM List</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <div class="title_area">
                        <h4>VM List</h4>
                        
                        <div class="search">
                            <form name="search_form" method="get" action="">
                            <select name="srch_key">
                                <option value="name" {% if search.srch_key == 'name' %} selected {% endif %}>Name</option>
                                <option value="ip" {% if search.srch_key == 'ip' %} selected {% endif %}>IP</option>
                                <option value="mac" {% if search.srch_key == 'mac' %} selected {% endif %}>MAC</option>
                            </select> 
                            <input type="text" id="srch_txt" name="srch_txt" value="{{ search.srch_txt }}"/>
                            <input type="hidden" name="page" value="1" />
                            </form>
                        </div>
                    </div>
                    <table>
                      <colgroup>
                          <col width="5%">
                          <col width="10%">
                          <col width="20%">
                          <!-- <col width="15%"> -->
                          <col width="14%">
                          <col width="8%">
                          <col width="8%">
                          <!-- <col width="9%"> -->
                          <col width="9%">
                          <col width="9%">
                      </colgroup>
                      <thead>
                          <tr>
                              <th><label><input type="checkbox" onchange="javascript:$('span.custom-check').click();"></label></th>
                              <th>Tenant</th>
                              <th>VM Name</th>
                              <th>IP Address</th>
                              <!-- <th>MAC Address</th> -->
                              <th>CPU Usage</th>
                              <th>Mem Usag</th>
                              <!-- <th>Net Usage</th> -->
                              <th>Storage Usage</th>
                              <th>Status</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for vm in list %}
                          <tr>
                            <td style="text-align:center;"><label><input type="checkbox" name="chk_vm_name" value="{{ vm.ucsd_vm_id }}" {% if vm.ucsd_vm_id == None %}disabled{% endif %} ></label></td>
                            <td>{{ vm.tenant.group_name}}</td>
                            <td><a href="javascript:vmrc_console('{{ vm.vcenter_vm_id }}');">{{ vm.name }}</a></td>
                            <td>{{ vm.ipAddress }}</td>
                            <!-- <td>{{ vm.macAddress }}</td>  -->
                            <td>{{ vm.cpuUsage }}</td>
                            <td>{{ vm.memUsage }}</td>
                            <!-- <td>{{ vm.netUsage }}</td> -->
                            <td>{{ vm.stgUsage }}</td>
                            <td><span class="box {{ vm.status | power_status }}">{{ vm.status }}</span></td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                
                    <div class="paginate">
                        <p class="total">Total <strong>{{ list.paginator.count }}</strong></p>
                        
                        <a href="javascript:go_page(1);" class="first">{% trans "menu.first" %}</a>
                        {% if list.has_previous %}
                        <a href="javascript:go_page({{ list.previous_page_number }})" class="prev">{% trans "menu.previous" %}</a>
                        {% endif %}
                            <span>
                                {% for p in list.paginator.page_range %}
                                    {% if p == list.number %}
                                        <strong>{{ p }}</strong>
                                    {% else %}<a href="javascript:go_page({{ p }})">{{ p }}</a>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% if list.has_next %}
                        <a href="javascript:go_page({{ list.next_page_number }})" class="next">{% trans "menu.next" %}</a>
                        {% endif %}
                        <a href="javascript:go_page({{ list.paginator.num_pages }})" class="last">{% trans "menu.last" %}</a>
                    </div>
                </div>
                <!-- //inner -->
                
                <form name="vm_form">
                    <input type="hidden" name="action" />
                    <input type="hidden" name="vmid" />
                </form>
                <div class="btn_area">
                	<p class="left">
                    	<a href="javascript:;" class="btn_common02" onclick="vm_action('shutdownGuest')">shutdownGuest</a>
                    	<a href="javascript:;" class="btn_common02" onclick="vm_action('reboot')">reboot</a>
                    	<a href="javascript:;" class="btn_common02" onclick="vm_action('powerOn')">powerOn</a>
                    	<a href="javascript:;" class="btn_common02" onclick="vm_action('destroyVM')">destroyVM</a>
                    	<!-- <a href="#" class="btn_common02">Modify</a> -->
                    </p>
                    
                    <p class="right">
                    	<a href="javascript:;" class="btn_common01" onclick="layer_popup('.create');">Create</a>
                    </p>
                </div>

<script type="text/javascript">
/*
    $(document).ready(function(){
       var list = {};
        $.ajax({
           url : "/vms",
            datatype: "json",
            data: {
                csrfmiddlewaretoken:'{{ csrf_token }}'
            }
        }).done(function(msg){
            if(msg.length>0) {
                msg.forEach(function(v,i){
                    $("body").append("<div>"+v.Name+"</div>");
                })
            }

        }).fail(function(err){
            alert(err);
        });
    });
    */

$(document).ready(function(){
    $("#srch_txt").keyup(function (event) {
        if (event.keyCode == 13) {
            $("form[name='search_form']").submit();
        }
    });
});

function go_page(page) {
    $("input[name='page']").val(page);
    $("form[name='search_form']").submit();
}

function vm_action(action) {
        var vmid = []
        $("input[name='chk_vm_name']:checked").each(function() {
				vmid.push($(this).val());
			});
        //console.log(vmid.toString())
        $.ajax({
           url : "/vm_action",
            datatype: "json",
            data: {
//                csrfmiddlewaretoken:'{{ csrf_token }}',
                "action" : action,
                "vmid" : vmid.toString()
            }
        }).done(function(msg){
            if(msg) {
                alert(msg);
            }

        }).fail(function(err){
            alert(err);
        });
}

function vmrc_console( vmid) {
  $.ajax( {
    url: "/vmrc_console",
    datatype: "json",
    data: {
      "vmid": vmid
    }
  }).done( function(msg) {
      if( msg) {
        open( msg.url)
      }
  }).fail( function(err) {
    alert(err)
  });
}
</script>

                {% include "vmCreate.html" %}

            {% endblock %}
            <!-- //content -->
        
