{% extends 'base.html' %}
{% load i18n %}


            {% block title %}
            <div class="title">
                <div>
                    <h3>{% trans "site.volumelist" %}</h3>
                    <p>Home > Server > <strong>Volume List</strong></p>
                </div>
            </div>
            {% endblock %}
                
            {% block content %}

                <!-- inner -->
                <div class="inner">
                    <h4>Volume List</h4>
                    <table>
                        <colgroup>
                            <col width="15%">
                            <col width="15%">
                            <col width="15%">
                            <col width="*">
                            <col width="23%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>Status</th>
                                <th>Volume Name</th>
                                <th>Size</th>
                                <th>Create Date</th>
                                <th>Connected Hosts</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for host in list %}
                                {% for vol in host.configManager.storageSystem.fileSystemVolumeInfo.mountInfo %}
                            <tr>
                                <td><!--<span class="box gray">Offline </span>--></td>
                                <td>{{ vol.volume.name }}</td>
                                <td>{{ vol.volume.capacity }}</td>
                                <td>-</td>
                                <td>{{ host.summary.host }}</td>
                            </tr>
                                {% endfor %}
                            {% endfor %}
                            <tr>
                                <td><span class="box blue">Online </span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td><span class="box orange">Online with events</span></td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //inner -->
                
           {% endblock %}
