INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('VC.HOST', '{{ vcenter_host}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('VC.USER', '{{vcenter_user}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('VC.PASS', '{{vcenter_pass}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('VC.PORT', '{{vcenter_port}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSM.HOST', '{{ucsm_host}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSM.USER', '{{ucsm_user}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSM.PASS', '{{ucsm_pass}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSM.PORT', '{{ucsm_port}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSD.HOST', '{{ucsd_host}}', '1', 'Y');
INSERT INTO cloudportal.ux_config (`key`, val, type, is_used) VALUES ('UCSD.KEY', '{{ucsd_apikey}}', '1', 'Y');