INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('VC.HOST', '{{ vcenter_host}}', '1', 'Y');
INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('VC.USER', '{{vcenter_user}}', '1', 'Y');
INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('VC.PASS', '{{vcenter_pass}}', '1', 'Y');
INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('VC.PORT', '{{vcenter_port}}', '1', 'Y');
INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('UCSD.HOST', '{{ucsd_host}}', '1', 'Y');
INSERT INTO {{database_name}}.ux_config (`key`, val, type, is_used) VALUES ('UCSD.KEY', '{{ucsd_apikey}}', '1', 'Y');
